* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Google Sans", sans-serif;
}

li,
a {
  text-decoration: none;
  list-style: none;
}

@font-face {
  src: url("../fonts/Oswald-VariableFont_wght.ttf");
  font-family: "Oswald";
}

.nav-items a {
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
}

.intro-content h1 {
  letter-spacing: 1.5rem;
  font-size: 7rem;
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-size: 5rem;
}

#main-header {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 1rem;
}

.logo-circle-outer {
  position: relative;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  background: linear-gradient(45deg, #fc263b, #eeb544);
  background-size: 200% 200%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.logo-circle-outer:hover {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

.logo-circle-inner {
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #2c2c2c;
  -webkit-transform: translate(25%, 25%);
          transform: translate(25%, 25%);
}

.logo-circle-inner img {
  width: 2.5rem;
  -webkit-transform: translate(50%, 45%);
          transform: translate(50%, 45%);
  position: relative;
  z-index: 2;
}

#main-nav {
  margin: auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
}

#main-nav .nav-items a {
  color: #ff2a3f;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

#main-nav .nav-items a:hover {
  color: #eeb544;
}

#intro-section {
  position: relative;
  min-height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.intro-video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(44, 44, 44, 0.5);
}

.intro-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  -webkit-animation: introAnimate 0.5s 3s forwards ease-in;
          animation: introAnimate 0.5s 3s forwards ease-in;
}

.intro-video iframe {
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.intro-content {
  position: absolute;
  z-index: 2;
  text-align: center;
}

.intro-content h1 {
  -webkit-animation: introText 0.5s 2s forwards ease-in;
          animation: introText 0.5s 2s forwards ease-in;
}

.intro-content img {
  -webkit-animation: introImage 1s 2s forwards ease-out;
          animation: introImage 1s 2s forwards ease-out;
}

.intro-content .intro-link {
  -webkit-animation: introLink 1s 2s forwards ease-in;
          animation: introLink 1s 2s forwards ease-in;
  border: 0.5rem solid #fc263b;
  border-radius: 0.5rem;
  color: #fc263b;
  font-size: 1.5rem;
  font-family: 'Google Sans';
  padding: 1rem 5rem;
  display: inline-block;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.intro-content .intro-link:hover {
  color: #c2c2c2;
  background-color: #fc263b;
}

#intro-gallery {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#intro-gallery hr {
  border: none;
  height: 1.5rem;
  width: 100%;
  animation: bgAnimate 3s infinite alternate-reverse;
}

h3 {
  padding: 15rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.gallery-image-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  justify-items: center;
  gap: 15px 10px;
  width: 90%;
  padding: 2rem;
}

.gallery-images {
  text-align: center;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.gallery-images img {
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 2px 2px 5px rgba(44, 44, 44, 0.5);
          box-shadow: 2px 2px 5px rgba(44, 44, 44, 0.5);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.gallery-images img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 0.5rem solid rgba(238, 181, 68, 0.8);
}

@-webkit-keyframes introAnimate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes introAnimate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes introImage {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes introImage {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes introText {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
    font-size: 20rem;
    -webkit-text-fill-color: #c2c2c2;
  }
}

@keyframes introText {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
    font-size: 20rem;
    -webkit-text-fill-color: #c2c2c2;
  }
}

@-webkit-keyframes introLink {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0%, -500%);
            transform: translate(0%, -500%);
    opacity: 1;
  }
}

@keyframes introLink {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0%, -500%);
            transform: translate(0%, -500%);
    opacity: 1;
  }
}

@-webkit-keyframes bgAnimate {
  from {
    background: rgba(252, 38, 59, 0.5);
  }
  to {
    background: rgba(238, 181, 68, 0.5);
  }
}

@keyframes bgAnimate {
  from {
    background: rgba(252, 38, 59, 0.5);
  }
  to {
    background: rgba(238, 181, 68, 0.5);
  }
}
/*# sourceMappingURL=styles.css.map */