#intro-section {
    position: relative;
    min-height: 95vh;
    @include flex(row, wrap, flex-end, center);
    overflow: hidden;

}

.intro-video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba($color: #35290F, $alpha: 0.5);
}



.intro-video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    iframe {
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }

    opacity: 0;
    animation: introAnimate 0.5s 3s forwards ease-in;

}


.intro-content {
    position: absolute;
    z-index: 2;
    text-align: center;

    h1 {
        animation: introText 0.5s 2s forwards ease-in;
    }

    img {
        animation: introImage 1s 2s forwards ease-out;
    }

    .intro-link {

        animation: introLink 1s 2s forwards ease-in;
        border: 0.3rem solid #EEC5CB;
        color: #EEC5CB;
        font-size: 1.5rem;
        font-family: 'Noir';
        padding: 1rem 5rem;
        display: inline-block;
        transition: all 0.5s ease-in-out;
        opacity: 0;

        &:hover {
            color: #2F260D;
            background-color: #EEC5CB;
        }
    }
}

#intro-gallery {
    min-height: 100vh;
    @include flex(column, wrap, center, flex-start);
    background-color: #35290F;
    overflow: hidden;

    hr {
        border: none;
        height: 1.5rem;
        width: 100%;

        animation: bgAnimate 3s infinite alternate-reverse;
    }




}

h3 {
    padding: 15rem;
    flex: 1 1 40rem;
    color: #EEC5CB;
}

.gallery_3 {
    grid-row: 1/3;
    grid-column: 1/3;
}

.gallery_4 {
    grid-row: 1/3;
    grid-column: 3/3;
}

.gallery_5 {
    grid-row: 2/2;
    grid-column: 3/3;
}

.gallery-image-container {
    min-width: 90%;
    flex: 1 1 40rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    img {
        width: 100%;
        object-fit: cover;
        border: 2px solid rgba($color:#EEC5CB, $alpha: 1.0);
        box-shadow: 2px 2px 5px rgba($color: $dark, $alpha: 0.5);
        transition: 0.3s all ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}

#discography-section {
    min-height: 100vh;

    @include flex(row, wrap, center, center);

    h3 {
        color: #6F512B;
    }

}

.discography-content {
    width: 90%;
    margin: auto;
    @include flex(row, wrap, center, center);
    text-align: center;

    img {
        width: 25rem;
        object-fit: cover;
        padding: 2rem 1rem;
    }
}

#bulletin-section {
    min-height: 100vh;
    @include flex(column, wrap, center, flex-end);

    h1 {
        font-size: 5rem;
        font-family: 'Oswald';
        letter-spacing: 1rem;
        color: #6F512B;
        padding: 0 0 20rem 0;
    }
}



#team-section {
    min-height: 20vh;
    @include flex(row, wrap, center, space-around);
    background: #EEC5CB;

    .form-wrapper {
        flex: 3 1 40rem;
        text-align: center;



        h1 {
            font-size: 10rem;
            font-family: 'Oswald';
            text-transform: uppercase;
            letter-spacing: 1rem;
            color: #2F260D;
        }

        label {
            font-size: 4rem;
            font-family: 'Oswald';
            letter-spacing: 0.5rem;
        }

        #email {
            margin: 1rem 0;
            padding: 1rem 2rem;
            border: none;

        }

        button {
            margin-top: 1rem;
            padding: 1rem 2rem;
            background: #35290F;
            border: none;
            color: #EEC5CB;
            transition: all ease-in-out 0.3s;
            font-family: 'Oswald';
            font-size: 2rem;

            &:hover {
                background: #6F512B;

            }
        }
    }

    img {
        flex: 1 1 40rem;
        width: 100%;
        object-fit: cover;
    }

}



.main-footer {
    background-color: #2F260D;
    min-height: 10vh;
    @include flex(row, wrap, center, center);

    .footer-title {
        margin: 1rem;
        flex: 2 1 40rem;
        color: #EEC5CB;
        font-family: 'Oswald', sans-serif;

    }

    .footer-social-links {
        color: #EEC5CB;
        flex: 1 1 40rem;
        @include flex(row, wrap, center, space-around);

        img {
            width: 2rem;
        }
    }

}

@keyframes introAnimate {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes introImage {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes introText {
    from {
        transform: translate(0%, 0%);
    }

    to {
        transform: translate(0%, 100%);
        font-size: 20rem;
        -webkit-text-fill-color: rgb(253, 203, 188);
    }
}

@keyframes introLink {
    from {
        transform: translate(0%, 0%);
        opacity: 0;
    }

    to {
        transform: translate(0%, -500%);
        opacity: 1;
    }
}

@keyframes bgAnimate {
    from {
        background: rgba($color: $pink, $alpha: 0.5);
    }

    to {
        background: rgba($color: $orange, $alpha: 0.5);

    }
}


// Media Queries
@media screen and (max-width: 900px) {
    .burger {
        position: relative;
        display: block;
        cursor: pointer;
    }

    .burger span {
        padding: 0.2rem 2rem;
        background: #35290F;
        margin: 0.5rem 0;
        display: block;
        transition: all 0.5s ease;
    }

    .nav-open {
        transform: translateX(-100%);
    }

    .toggle .line1 {
        transform: rotateZ(45deg) translateY(300%);
        background: #00a8cc;
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotateZ(-45deg) translateY(-300%);
        background: #00a8cc;
    }

    .nav-items {
        background: #35290F;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        flex-direction: column;
        align-items: center;
        transition: transform 0.5s ease;
    }

    .nav-items a {
        color: #EEC5CB;
        font-size: 1rem;
        font-size: 10rem;
    }

    /* Intro */
    #intro-section {
        width: 100%;
        margin: auto;
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../img/bg.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }

    #intro-section .intro-img img {
        opacity: 0;
        animation: none;
    }

    #intro-section a {
        animation: none;
        opacity: 1;
        transform: translate(0%, -600%);
    }

    #intro-section iframe {
        opacity: 0;

    }

    #intro-section h1 {
        font-size: 5rem;
        animation: none;
        color: #EEC5CB;
    }

    /* Gallery */
    #intro-gallery img {
        grid-row: auto;
        grid-column: auto;
    }

    #intro-gallery {
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    }

    #bulletin-section {
        @include flex(row, wrap, center, center);
        text-align: center;

        img {
            opacity: 0;
        }
    }

    #team-section {
        button {
            margin: 1rem;
        }
    }

    footer ul {
        order: 1;
    }

    footer h2 {
        order: 2;
        text-align: center;
        padding: 1rem;
    }

}

@media screen and (min-width: 1700px) {
    html {
        --header1: 3rem;
        --header2: 4.5rem;
        --header3: 3.5rem;
        --header4: 2.5rem;
        --text: 2.5rem;
        --big: 6rem;
    }
}