#main-header {
    @include flex(row, wrap, center, center);
    background: #522d5b;
    box-shadow: 0px 2px 10px #e7d39f;
    min-height: 10vh;
    z-index: 100;
    position: sticky;
    top: 0;
}

.logo {
    flex: 1 1 40rem;
    padding: 0.5rem;
}

.logo-circle-outer {
    position: relative;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: linear-gradient(45deg, $pink, $orange);
    background-size: 200% 200%;
    transition: 0.5s ease;

    &:hover {
        transform: rotateZ(360deg);
    }
}

.logo-circle-inner {
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: $dark;
    transform: translate(13%, 12%);

    img {
        width: 2.5rem;
        transform: translate(25%, 25%);
        position: relative;
        z-index: 2;
    }
}

.nav-links {

    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex: 2 1 40rem;


    a {
        transition: 0.3s all ease-in-out;
    }
}