#main-header {
    background: #1D1307;
    box-shadow: 0px 2px 2px #6F512B;
    min-height: 10vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    position: sticky;
    top: 0;
}

.logo {
    flex: 1 1 40rem;
    padding: 1rem;
}

.logo-circle-outer {
    position: relative;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    background: linear-gradient(45deg, $pink, $orange);
    background-size: 200% 200%;
    transition: 0.5s ease;

    &:hover {
        transform: rotateZ(360deg);
    }
}

.logo-circle-inner {
    position: relative;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: $dark;
    transform: translate(25%, 25%);

    img {
        width: 2.5rem;
        transform: translate(50%, 45%);
        position: relative;
        z-index: 2;
    }
}

#main-nav {

    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex: 2 1 40rem;


    .nav-items a {
        color: #fcc4ae;
        transition: 0.3s all ease-in-out;

        &:hover {
            color: tomato;
        }

    }
}