@mixin flex($flex-direction, $flex-wrap, $align-items, $justify-content) {
    display: flex;
    flex-flow: $flex-direction $flex-wrap;
    align-items: $align-items;
    justify-content: $justify-content;
}